body{
    background: linear-gradient( 45deg,#ffe7f6, #2883c4);
    height: 100vh;
}
div{
    position:absolute;
    top:20%;
    left:32%;
    height: 350px;
    width: 500px;
}
input[type="range"]{
    position: absolute;
    margin-top: 200px;
    width: 500px;
    height: 7px;
    -webkit-appearance: none;
    border: 1px solid rgb(194, 194, 194);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 59px;
    width: 50px;
    border-radius: 0%;
    background-image: url(emojipng.com-13830944.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 10px;
}
input[type="range"]::-moz-range-thumb {
    border: none;
    height: 59px;
    width: 50px;
    border-radius: 0%;
    background-image: url(emojipng.com-13830944.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 35px;
}
span{
    display: inline-block;
    width: 35px;
    height: 25px;
    border-radius: 5px;
    position: relative;
    top:135px;
    background-color: antiquewhite;
}
input[type="number"]{
    position: relative;
    top: 250px;
    left: 165px;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    border: none;
}